extends layout

block headbar
    include headbar
block inside
    div
        div#book_container
        div(style='text-align: center')
            <button type="button" class="btn btn-info hide" id='showMoreBooks'>Show More</button>
    script.
            require(['apps/book'], function(app){ app.start(); });