a(href='https://github.com/gesanchez/Simple_Library_App', target='_blank')
    i(class='fa fa-github-square fa-3x')
a(href='http://ve.linkedin.com/pub/german-sanchez/51/a75/379', target='_blank')
    i(class='fa fa-linkedin-square fa-3x')
a(href='https://plus.google.com/u/0/+GermanEnriqueSanchezQuintero', target='_blank')
    i(class='fa fa-google-plus-square fa-3x')