doctype html
html
  head
    title Simple Library App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript', data-main="/javascripts/main", src="/javascripts/require.js")
  body
    block content
        div(class='wrap')
            div(class='navbar navbar-default navbar-fixed-top')
                div(class='container')
                    block headbar
            div(class='container', style='padding-top: 80px')
                block inside
        div(class='footer')
            include footer