doctype html
html
    head
        title Library Simple App
        link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    body
        div(class='ui circular segment')
            div(class='ui header') Login
        div(class='ui form attached fluid segment')
            form(method='POST', action='/login')
                h3(class='ui header')
                div(class='field')
                    label Email
                    input(type='text', placeholder='Email', name='email')
                div(class='field')
                    label Password
                    input(type='password', placeholder='Password', name='password')
                button(class='ui right green submit button', type='submit') Login
        if errorMessage != ''
            div(class='ui bottom attached red message')= errorMessage