<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add User</h4>
</div>
<div class="modal-body">
    <form id='form_user_add' role="form">
            <div class='row'>
                <div class='col-xs-6'>
                    <label>First Name</label>
                    <input placeholder="First Name" class='form-control' name="firstName" type="text">
                </div>
                <div class='col-xs-6'>
                    <label>Last Name</label>
                    <input placeholder="Last Name" class='form-control' name="lastName" type="text">
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-6'>
                    <label>Email</label>
                    <input placeholder="Email" class='form-control' type="text" name="email">
                </div>
                <div class='col-xs-6'>
                    <label>Password</label>
                    <input type="password" class='form-control' placeholder="Password" name="password">
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-6'>
                    <label>Rol</label>
                    <select name='rol' style='height: 30px;' class='form-control'>
                        <option value=''>Choose a Rol</option>
                        <option value='admin'>Admin</option>
                        <option value='user'>User</option>
                    </select>
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-attr='submit'>Submit</button>
</div>