<div class="ui segment">
    <div class="two column doubling ui grid">
        <div class="column">
            <img src="<%= path %>" class="rounded ui image" style="width: 80px; height: 130px"/>
        </div>
        <div class="column">
            <p style="word-wrap:break-word;"><%= title %></p>
            <p><%= author %></p>
            <p>ISBN: <%= isbn %></p>
            <p>Availables: <%= availables %></p>
        </div>
    </div>
    <i class="remove icon link icon" style="position: absolute;top: 0px;right: 0px"></i>
</div>