<div class="panels-book">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="<%= path %>" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><%= title %></h4>
            <p><%= author %></p>
            <p>ISBN: <%= isbn %></p>
            <p>Availables: <%= availables %></p>
        </div>
         <i class="fa-hover fa fa-times" style="position: absolute;top: 0px;right: 0px"></i>
    </div>
</div>